<h2>Movies Table</h2>
<div>
    <a class="button" href="/movies/new">Create movies</a>
  </div>
  <div>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Rating</th>
      <th>Cast</th>
      <th>Release</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <% movies.forEach(movie => { %>
    <tr>
      <td>
        <a href="<%= `/movies/${movie.id}` %>">
          <%= movie.name %>
        </a>
      </td>
      <td>
        <%= movie.rating %>
      </td>
      <td>
        <%= movie.cast %>
      </td>
      <td>
        <%= movie.releaseDate %>
      </td>
      <td>
        <a href="<%=`/movies/${movie.id}/edit`%>">
          Edit
        </a>
      </td>
      <td>
        <a href="<%=`/movies/${movie.id}?_method=DELETE` %>" onclick="return confirm('Are you sure you want to delete this record?')">Delete</a>
      </td>
    </tr>
    <% }); %>
  </tbody>
</table>